 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 20px;
    
    
}

 li {
    float: left;
}

 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

 li a:hover {
    background-color: #111;
    
}

body {
    background-color: skyblue;
}






@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');


.smGlobalBtn{ /* global button class */
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: (170, 170, 170);
    font-size: 30px;
    float: right;
    padding: 9px 20px;
}
/* facebook button class*/
.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}
.facebookBtn:hover{
    color: #4060A5;  
}


/* github button class*/
.githubBtn:before{
      font-family: "FontAwesome";
      content: "\f09b"; /* add github icon */
    
}
.githubBtn:hover{
      color: #4060A5;
}



/* linkedin button class*/
.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}
.linkedinBtn:hover{
      color: #0094BC;
}


/* linkedin button class*/
.instagramBtn:before{
    font-family: "FontAwesome";
    content: "\f16d"; /* add linkedin icon */
}
.instagramBtn:hover{
    color: #0094BC;
}

/* Social media logos  */